trunk/globalmentor-rdf/.classpath
trunk/globalmentor-rdf/.project
trunk/globalmentor-rdf/.settings
trunk/globalmentor-rdf/target
trunk/globalmentor-w3c-spec/.classpath
trunk/globalmentor-w3c-spec/.project
trunk/globalmentor-w3c-spec/.settings
trunk/globalmentor-w3c-spec/target
